{% block body %}

    {% include 'header.html.twig' %}
    
    <div class="card mb-3" style="max-width: 70%; margin: auto;">
        <div class="card-body">
            <p class="card-text">
                Compte
            </p>
        </div>
    </div>

{% endblock %}
